-- AlterTable
ALTER TABLE "public"."company_game_clocks" ALTER COLUMN "currentDayKey" SET DEFAULT '2025-09-10 00:00:00+00'::timestamp with time zone,
ALTER COLUMN "startedAtDayKey" SET DEFAULT '2025-09-10 00:00:00+00'::timestamp with time zone;

